* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7ebf0;
}

body,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-weight: 400;
  line-height: 48px;
  font-size: 14px;
}

header {
  width: 100%;
  height: 48px;
  background-color: lightblue;
  color: #fff;
  background-color: #5682a3;
}

section {
  width: 100%;
  height: calc(100% - 48px);
  /* background-color: lightgreen; */
}

section .left {
  border-right: 1px solid rgba(0,0,0,0.1);
}

section .left,
section .right,
.searchbar.active,
.searchbar.active input,
.searchbox {
  background-color: #fff;
}

.chat-info {
  width: calc(100% - 48px - 48px);
  line-height: 48px;
  font-size: 13px;
  padding-left: 15px;
}

.chat-info:hover,
.header-search:hover,
.header-more:hover,
header .left:hover {
  background-color: #497799;
}

.chat-info-contact {
  font-weight: bold;
}

.chat-info-last-seen {
  font-weight: 300;
}

.chatspace {
  width: 100%;
  height: calc(100% - 128px);
  overflow-y: scroll;
  display: none;
}

.chatspace.active {
  display: block;
}

.chatspace .right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.compose-area {
  width: 100%;
  height: 128px;
  padding-top: 20px;
}

.compose-area .right-container {
  display: flex;
  justify-content: space-between;
}

.compose-area-middle {
  flex-grow: 2;
  margin: 0 10px;
}

.compose-area-picture-own img,
.compose-area-picture-incoming img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.contact {
  padding: 7px 12px;
}

.contact.active {
  background-color: #6490b1;
  color: #fff;
}

.contact:not(.active):hover {
  background-color: #f2f6fa;
}

.contact-info-left {
  width: 170px;
}

.contact-info-left,
.contact-info-right {
  margin-top: 5px;
}

.contact-info-right {
  min-width: 48px;
}

.contact-name {
  font-weight: 600;
}

.contact-name,
.contact-preview {
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contact-picture {
  margin-right: 10px;
}

.contact-picture img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 50%;
}

.contact-unread {
  text-align: center;
  background-color: purple;
  border-radius: 10px;
}

.contacts {
  width: 100%;
  height: calc(100% - 58px);
  overflow-y: scroll;
}

.dropdown-menu,
.header-search,
.header-more {
  width: 48px;
  height: 100%;
  text-align: center;
}

.dropdown-menu {
  margin-right: 20px;
}

.dropdown-menu i,
.header-search i,
.header-more i {
  font-size: 18px;
  padding-top: 15px;
}

.float-lx {
  float: left;
}

.float-rx {
  float: right;
}

.left {
  height: 100%;
  width: 32%;
}

.message {
  width: calc(100% - 62px);
}

.message-bundle {
  width: 100%;
  margin: 5px 0;
  /* background-color: darkolivegreen; */
}

.message-content {
  width: 90%;
  margin-bottom: 10px;
  position: relative;
}

.message-picture {
  padding: 0 10px;
}

.message-picture img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.message-select {
  width: 26px;
  height: 26px;
  background-color: #b2c9da;
  position: absolute;
  top: 7px;
  left: -100px;
  text-align: center;
  border-radius: 50%;
  display: none;
}

/* .message-first {
  top: -10px;
} */

.message-select i {
  color: #fff;
  line-height: 26px;
}

.message-sender {
  color: #3a6d99;
  font-size: 600;
}

.message-sender,
.message-time {
  height: 18px;
}

.right {
  height: 100%;
  width: 68%;
  /* background-color: blue; */
}

.right-container {
  width: 85%;
  height: 100%;
  margin: auto;
}

.searchbar {
  width: 90%;
  height: 34px;
  margin: auto;
  display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchbar,
.searchbar input {
  background-color: #f2f2f2;
}

.searchbar i:first-child {
  padding-left: 3px;
}

.searchbar i:last-child {
  padding-right: 3px;
  visibility: hidden;
}

.searchbar input {
  width: 80%;
  border: none;
}

.searchbar.active {
  border: 1px solid #000;
}

.searchbox {
  width: 100%;
  height: 58px;
  padding-top: 12px;
}

.typebox {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.typebox.active {
  border-bottom: 3px solid #499dd9;
}

.typebox i {
  margin-left: 10px;
}

.typebox textarea {
  width: 90%;
  height: 40px;
  border: none;
}

.typebox-options {
  display: flex;
  justify-content: space-between;
}

.typebox i,
.typebox-options i {
  font-size: 20px;
  color: #b5b5b5;
}

.typebox-options img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.typebox-options span {
  color: #499dd9;
  text-transform: uppercase;
  font-weight: bold;
}

#container {
  height: 96vh;
  width: 65%;
  margin: auto;
  /* background-color: lightcoral; */
}

#template {
  display: none;
}
